body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    background-color: #1F2937;
}

.header {
    background-color: #1F2937;
}

.header-links {
    list-style: none;
    display: flex;
    margin: 0 20px;
    padding: 0;
    align-items: center;
}

.logo {
    flex: 2;
    font-size: 24px;
    color: #F9FAF8
}

.right-links {
    font-size: 18px;
    display: flex;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}